## Get football Financial Statistics

In [3]:
import pandas as pd
from payrollData import data

season = '2021/2022'
league = 'E0'

# Convert payroll to DataFrame
payroll_df = pd.DataFrame(data)

# Filter data for specified saeson
payroll_df = payroll_df[payroll_df['season'] == season]

payroll_df

# Display the DataFrame
payroll_df.head(5)

,season,club,club_code,weekly_gross_eur,annual_gross_eur,weekly_net_eur,annual_net_eur,weekly_gross_gbp,annual_gross_gbp,weekly_net_gbp,...,m_net_gbp,f_net_gbp,k_gross_usd,d_gross_usd,m_gross_usd,f_gross_usd,k_net_usd,d_net_usd,m_net_usd,f_net_usd
40,2021/2022,Man United,MUN,281045277.0,281045277,166933053.0,166933053,233580000.0,233580000,138740000.0,...,20300000,69440000,37087414,78428208,47876479,139505731,20411045,43130327,26324283,90047202
41,2021/2022,Chelsea,CHE,225408952.0,225408952,123978531.0,123978531,187340000.0,187340000,103040000.0,...,28110000,39900000,16183598,66420185,66264575,94067166,8895792,36529805,36452000,51740831
42,2021/2022,Man City,MCI,202827147.0,202827147,111561425.0,111561425,168572000.0,168572000,92720000.0,...,13480000,41170000,11530814,78220725,31770686,97075654,6354137,43013618,17480362,53387720
43,2021/2022,Liverpool,LIV,186511646.0,186511646,102621592.0,102621592,155012000.0,155012000,85290000.0,...,27740000,22200000,18880866,64397237,65408710,52326969,10400037,35440524,35972198,28788132
44,2021/2022,Arsenal,ARS,142067556.0,142067556,78124284.0,78124284,118074000.0,118074000,64930000.0,...,15010000,24940000,10892807,48011342,35401621,58808188,5991044,26402088,19464409,32341261